---
import { getCollection } from "astro:content";

import Navbar from "../components/Navbar.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
import RepositoryCard from "../components/RepositoryCard.astro";
import EventCard from "../components/EventCard.astro";

const CURRENT_DATE = new Date(
  new Date()
    .toLocaleString("en-US", { timeZone: "America/Mexico_City" })
    .split(",")[0],
);

const repositories = await getCollection("repositories");
const events = (await getCollection("events"))
  .filter(({ data }) =>
    data.eventDates.some((date) => new Date(date.date) >= CURRENT_DATE),
  )
  .map((event) => ({
    ...event,
    eventDates: event.data.eventDates.find(
      (date) => new Date(date.date) >= CURRENT_DATE,
    )!,
  }))
  .sort(
    (a, b) =>
      new Date(a.eventDates.date).getTime() -
      new Date(b.eventDates.date).getTime(),
  );
---

<Layout title="Binary Brains">
  <Navbar />
  <main class="flex flex-col gap-16 mb-4">
    <section
      id="inicio"
      class="flex gap-4 justify-center px-8 pt-72 pb-24 md:px-36 md:pb-48 lg:p-48"
    >
      <div class="flex flex-col text-white w-full lg:w-[75%] gap-4">
        <span class="text-2xl text-[#4cA4CA] pl-1">Hola, somos</span>
        <h1 class="text-6xl text-[#4CA4CA] font-bold">Binary Brains</h1>
        <p class="text-2xl text-[#B1D9EB] pl-1">
          Club de Desarrollo de Software en UPIICSA: Aprendiendo y creciendo
          juntos en tecnología.
        </p>
        <div class="pl-1">
          <a
            href="https://discord.gg/cyXd37NTbq"
            target="_blank"
            class="sparkling-btn"
          >
            Unete a nosotros
          </a>
        </div>
      </div>
    </section>
    <SectionContainer
      sectionId="eventos"
      sectionNumber="02"
      title="Eventos proximos"
      align="left"
    >
      <div class="flex flex-col gap-4 items-center">
        {
          events.length === 0 ? (
            <p class="text-[#B1D9EB] text-2xl">
              No hay eventos próximos. Vuelve pronto :3
            </p>
          ) : (
            events.map((event) => (
              <EventCard
                title={event.data.title}
                link={event.data.link}
                address={event.data.address}
                eventDates={event.eventDates}
                imagePath={event.data.imagePath}
                content={event.body}
              />
            ))
          )
        }
      </div>
    </SectionContainer>

    <SectionContainer
      sectionId="repositorios"
      sectionNumber="03"
      title="Repositorios populares"
      align="right"
    >
      <div class="flex flex-row flex-wrap gap-4 justify-center basis-full">
        {
          repositories.length > 0
            ? repositories.map(({ data, body }) => (
                <RepositoryCard
                  title={data.title}
                  description={body ?? ""}
                  technologies={data.technologies}
                  imagePath={data.imagePath}
                  link={data.link}
                />
              ))
            : null
        }
      </div>
    </SectionContainer>
  </main>
</Layout>
