---
interface Props {
  sectionId: string;
  sectionNumber: string;
  title: string;
  align: "right" | "left";
}

const { sectionId, sectionNumber, title, align } = Astro.props;
---

<section id={sectionId} class="flex flex-col gap-16 items-center">
  <header class="flex items-center text-2xl font-bold w-[90%]">
    {
      align === "left" ? (
        <div class="mr-2 w-min font-extralight text-right lg:w-max">
          <h3>
            <span class="text-[#4EBAE0]">{sectionNumber}-</span> {title}
          </h3>
        </div>
        <div class="flex-grow h-0.5 bg-white"></div>
        <div class="w-5 h-5 bg-white transform rotate-45"></div>
      ) : (
        <div class="w-5 h-5 bg-white transform rotate-45"></div>
        <div class="flex-grow h-0.5 bg-white"></div>
        <div class="ml-2 w-min font-extralight text-right lg:w-max">
          <h3>
            <span class="text-[#4EBAE0]">{sectionNumber}-</span> {title}
          </h3>
        </div>
      )
    }
  </header>
  <slot />
</section>
